@import "tailwindcss";
/* TODO: get rid of regular css and use tailwind */
.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 150px;
}

.nav-items > ul {
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  list-style: none;
  font-size: 20px;
}

.search {
  padding: 10px;
}

.search-box {
  border: 1px solid black;
  margin: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  width: 200px;
  padding: 10px;
  margin: 5px;
  background-color: gainsboro;
  text-wrap: wrap;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.res-img {
  width: 100%;
  height: 150px;
}

.footer {
  display: flex;
  justify-content: right;
}

.footer-items > ul {
  display: flex;
}

.footer-items > ul > li {
  padding: 10px;
  margin: 10px;
  list-style: none;
  font-size: 15px;
}

.filter-btn {
  margin: 10px;
}

.shimmer-card {
  width: 200px;
  padding: 10px;
  margin: 5px;
  height: 400px;
}

.login {
  padding: 0px 10px;
  margin-right: 20px;
  cursor: pointer;
}

.filter {
  display: flex;
}

.user-card {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

a[href^="/"] {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
